* {
	box-sizing: border-box;
}

body {
	background-color: #dadada;	
}

.main {
	
	max-width: 800px;	
	margin: 0 auto;
	display: flex;
}

.SearchWrapper {
	max-width: 600px;
	min-width: 300px;
	min-height: 60px;
	border: solid #dddddd 1px;
	flex:3;
	/* 	margin-top: 30vh; */
	/* 	transform: translateY(-50%); */
	/* overflow: auto; */
}

.SearchBoxWrapper {
	background-color: #eeeeee;
	border: solid #dddddd 1px;
	padding: 10px;
	box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.7);
	margin: 5px 5px 0px 5px;
}

.SearchBox {
	padding: 3px 5px;
}

.SearchBox-field {
	background-color: #ffffff;
	border: solid #dddddd 1px; /* ~Gainsboro */
	padding: 5px 10px;
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
	font-family: Lato, Arial;
}

.SearchBox-btn {
	background-color: #E8B960; /*~Harvest Gold*/
	border: solid #E8B960 1px;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
	width: 100%;
	font-family: PT sans, Lato, Arial;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 2px;
	color: #ffffff;
	text-transform: uppercase;
}

/*TODO: Integrate the hover through the view ?*/
.SearchBox-btn:hover {
	background-color: #ffffff;
	color: #E8B960;
	cursor: pointer;
}

.ResultWrapper {
	/* border: solid #dddddd 1px; */
	/* background-color: #dddddd; */
	padding: 2px;
}

.ResultList {
	padding: 3px 5px;
	max-height: 82vh;
	overflow: hidden;
}

.ResultItem {
	background-color: #ffffff;
	/* border: solid #afafaf 1px; */
	padding: 5px 10px;
	width: 100%;
	margin: 5px 0;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.ResultItem-img {
	/* float:left; */
	max-width: 60px;
	max-height: 60px;
	/* margin: 5px 10px; */
	display: inline-block;
}

.ItemBody {
	font-family: Roboto, Lato, Arial;
	font-size: 13px;
	font-weight: normal;
	letter-spacing: 1px;
	display: inline-block;
	/* padding-bottom: 0px; */
}

.ItemBody-title {
	/* margin-top: 5px; */
	font-size: 1.17em;
	font-weight: bold;
	/* margin-bottom: 0px; */
}

.ItemBody-desc {
	margin-top: 0;
	font-size: 1em;
}

.ResultItem-btn {
	display: inline-block;
}


.ResultNav {
	padding: 5px;
	display: flex;
	background-color: #eeeeee;
	box-shadow: 0px 2px 7px -3px rgba(0, 0, 0, 0.7);
	margin: 5px 5px 0px 5px;
	border: solid #dddddd 1px;
}

.ResultNav-prev {
	flex:1;
	/* text-align: right; */
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-right: 100px solid #525252;
	border-bottom: 40px solid transparent;
	margin-right: 3px;
}

.ResultNav-prev.disable {
	visibility: hidden;
}

.ResultNav-prev:hover {
	border-right: 100px solid #ffffff;
}

.ResultNav-next {
	flex: 1;
	/* text-align: left; */
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-left: 100px solid #525252;
	border-bottom: 40px solid transparent;
	margin-left: 3px;
}

.ResultNav-next.disable {
	visibility: hidden;
}

.ResultNav-next:hover {
	border-left: 100px solid #ffffff;
}

.CartWrapper {
	min-width: 100px;
	max-width: 200px;
	flex: 1;
}

.CartWrapper-cart {
	position: absolute;
	top: 0;
}

.Cart {
	font-family: Arial;
	background-color: #f5f5f5;
	margin-top: 14px;
	padding-top: 0px;
	font-size: 15px;
	box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.4);
	border: solid #dddddd 1px;
}

.CartList {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 0px;
}

.CartList-headerCell {
	padding: 9px 4px;
	font-weight: bold;
	text-align: left;
	background: url('images/demarcationline.png') repeat-x;
}

.CartList-cell {
	padding: 9px 4px;
	text-align: left;
	background: url('images/demarcationline.png') repeat-x;
}